#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {

    chosen {
        zmk,kscan = &default_keyscan;
        zmk,matrix_transform = &default_transform;
    };
    
    default_keyscan: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "default_keyscan";
        diode-direction = "col2row";

        row-gpios
        = <&gpio0 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios
        = <&gpio1 6  GPIO_ACTIVE_HIGH>;
    };

    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <1>;

        map = <RC(0,0)>;
    };

    leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};
    
};