config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_FLATCAT_DONGLE
config ZMK_KEYBOARD_NAME
	default "FlatCat Dongle"
endif

if SHIELD_FLATCAT_KB
config ZMK_SPLIT
	default y
endif

if SHIELD_FLATCAT_DONGLE 
config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
endif
